@using FoodLoop.Models.ViewModels
@model IEnumerable<FoodLoop.Models.Entities.Category>

@{
    Layout = "_Layout";
}

<div class="admin-section">

    <div class="admin-header">

        <h2>Categories</h2>

        <form method="get" class="admin-search">

            <input type="text"
                   name="query"
                   value="@Context.Request.Query["query"]"
                   placeholder="Search category..." />

            <button type="submit">
                Search
            </button>

        </form>

        <a asp-action="Create"
           class="admin-btn admin-btn-primary">
            Create Category
        </a>

    </div>

    <div class="admin-card">
        <partial name="_AdminTable"
                 model="Model.Cast<object>()" />
    </div>

    <partial name="_SectionPagination"
             model="(PaginationViewModel)ViewBag.Pagination" />

</div>