@model FoodLoop.ViewModels.Admin.AdminFormViewModel
@using FoodLoop.Helpers

@{
    Layout = "_Layout";

    var modelName = Model.Type switch
    {
        "Restaurant" => "ресторант",
        "Offer" => "оферта",
        "Category" => "категория",
        "Tag" => "таг",
        _ => Model.Type.ToLower()
    };
}

<div class="admin-page">

    <div class="admin-header">
        <h2>Създай @modelName</h2>

        <a asp-controller="@AdminControllerHelper.Get(Model.Type)"
           asp-action="@AdminControllerHelper.GetListAction(Model.Type)"
           class="admin-btn admin-btn-secondary">

            <i class="bi bi-arrow-left"></i>
            Назад

        </a>
    </div>

    <partial name="_AdminForm" model="Model" />

</div>