@using FoodLoop.Models.ViewModels
@model IEnumerable<FoodLoop.Models.Entities.Reservation>

@{
    Layout = "_AdminLayout";
}

<div class="admin-section">

    <div class="admin-header">

        <h2>Reservations</h2>

        <form method="get" class="admin-search">

            <input type="text"
                   name="query"
                   value="@Context.Request.Query["query"]"
                   placeholder="Search reservation..." />

            <button type="submit">
                Search
            </button>

        </form>

    </div>

    <partial name="_AdminTable"
             model="Model.Cast<object>()" />

    <partial name="_SectionPagination"
             model="(PaginationViewModel)ViewBag.Pagination" />

</div>