@using FoodLoop.Models.ViewModels
@model IEnumerable<FoodLoop.Models.Entities.Restaurant>

@{
    Layout = "_Layout";
}

<div class="admin-section">

    <div class="admin-header">

        <h2>Restaurants</h2>

        <form method="get">

            <input name="query"
                   value="@Context.Request.Query["query"]"
                   placeholder="Search..." />

            <button type="submit">Search</button>

        </form>

        <a asp-action="Create"
           class="admin-btn admin-btn-primary">
            Create Restaurant
        </a>

    </div>

    <div class="admin-card">
        <partial name="_AdminTable"
                 model="Model.Cast<object>()" />
    </div>

    <partial name="_SectionPagination"
             model="(PaginationViewModel)ViewBag.Pagination" />

</div>