<!DOCTYPE html>
<html>

<head>

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/admin.css" />

</head>

<body>

    <div class="admin-layout">

        <aside class="admin-sidebar">

            <h2 class="admin-logo">
                FoodLoop
            </h2>

            <nav>

                <a asp-controller="AdminDashboard" asp-action="Index">
                    Dashboard
                </a>

                <a asp-controller="AdminCategories" asp-action="Categories">
                    Categories
                </a>

                <a asp-controller="AdminRestaurants" asp-action="Restaurants">
                    Restaurants
                </a>

                <a asp-controller="AdminOffers" asp-action="Offers">
                    Offers
                </a>

                <a asp-controller="AdminReservations" asp-action="Reservations">
                    Reservations
                </a>

                <a asp-controller="AdminReviews" asp-action="Reviews">
                    Reviews
                </a>

            </nav>

        </aside>

        <main class="admin-main">

            @RenderBody()

        </main>

    </div>

</body>

</html>