@model FoodLoop.ViewModels.Admin.AdminFormViewModel
@using FoodLoop.Helpers

<div class="admin-card">

    <form asp-controller="@AdminControllerHelper.Get(Model.Type)"
          asp-action="@(Model.Id == null ? "Create" : "Edit")"
          method="post"
          enctype="multipart/form-data"
          class="admin-form">

        @Html.AntiForgeryToken()

        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Type" />

        @await Html.PartialAsync($"_Admin{Model.Type}Fields", Model)

        <button type="submit" class="admin-btn admin-btn-primary">
            Запази
        </button>

    </form>

</div>