/* WRAPPER */
.bp-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}

/* PAGE TITLE */
.bp-title {
    font-size: 32px;
    font-weight: 700;
    color: #004d66;
    margin-bottom: 25px;
}

/* MAIN PROFILE CARD */
.bp-main-card {
    display: flex;
    gap: 30px;
    background: #ffffff;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

/* LEFT SIDE INFO */
.bp-info {
    flex: 1;
}

.bp-section-head {
    font-size: 22px;
    color: #004d66;
    margin-bottom: 15px;
    font-weight: 700;
}

.bp-row {
    margin-bottom: 12px;
}

.bp-label {
    display: block;
    font-weight: 600;
    color: #004d66;
}

.bp-value {
    font-size: 15px;
    color: #222;
}

/* EDIT BUTTON */
.bp-edit-btn {
    margin-top: 18px;
    background: #008B5A;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

    .bp-edit-btn:hover {
        background: #006945;
    }

/* RIGHT SIDE IMAGE */
.bp-photo img {
    width: 290px;
    height: 220px;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


/* OWNER GRID */
.bp-section-title {
    margin-top: 40px;
    margin-bottom: 15px;
    color: #004d66;
    font-size: 24px;
    font-weight: 700;
}

.bp-owner-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 18px;
}

.bp-owner-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.bp-owner-label {
    display: block;
    font-weight: 600;
    color: #004d66;
    margin-bottom: 6px;
}

.bp-owner-value {
    color: #222;
}


/* BUTTONS */
.bp-logout-btn, .bp-delete-btn {
    margin-top: 25px;
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.bp-logout-btn {
    background: #005F99;
    color: #fff;
}

    .bp-logout-btn:hover {
        background: #004b77;
    }

.bp-delete-btn {
    background: #cc3f3f;
    color: white;
}

    .bp-delete-btn:hover {
        background: #b52929;
    }

/* RESPONSIVE */
@media (max-width: 800px) {
    .bp-main-card {
        flex-direction: column-reverse;
        text-align: center;
    }

    .bp-photo img {
        width: 100%;
        height: auto;
    }
}