.section-title {
    font-size: 26px;
    font-weight: 700;
    color: #00394f;
    margin: 25px 0 15px;
}

.empty-text {
    color: #777;
    margin-bottom: 25px;
    font-style: italic;
}

.toggle-links {
    margin-bottom: 15px;
}

.toggle {
    color: #005a73;
    cursor: pointer;
    font-weight: 600;
}

    .toggle:hover {
        text-decoration: underline;
    }

/* ORDER CARD */
.order-card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    align-items: center;
}

/* INFO */
.order-info .title {
    font-size: 18px;
    font-weight: 700;
    color: #00394f;
    margin-bottom: 7px;
}

/* BUTTON AREA */
.status-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cancel-btn {
    background: #ff7373;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.confirm-btn {
    background: #4f8d40;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.finish-btn {
    background: #216c2e;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

/* IMAGE */
.order-image {
    width: 140px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
}

/* HISTORY */
.order-card.history {
    background: #d9d9d9;
    opacity: 0.7;
}

.history-status.finished {
    color: green;
    font-weight: bold;
}

.history-status.canceled {
    color: red;
    font-weight: bold;
}

/* SHOW MORE / SHOW LESS */
.show-more-btn {
    width: 100%;
    padding: 12px;
    background: #00394f;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
}

    .show-more-btn:hover {
        background: #005a73;
    }
